<div class="container " style="padding:5px; margin-top:5px;">
    <div class="col-md-9">
        <h3>List of Engineering Colleges in India.</h3>
        <table class="table table-striped table-hover table-bordered  table-responsive" style="width:100%;">
            <thead>
                <tr>
                    <th></th>
                    <th>College Name</th>
                    <th>Estd.</th>
                    <th>Location</th>
                    <th>State</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ABES Engineering College</td>
                    <td>2000</td>
                    <td> Ghaziabad</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>AD Patel Institute of Technology, Anand</td>
                    <td>2000</td>
                    <td>Gujarat</td>
                    <td>Gujarat</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Aditya Engineering College</td>
                    <td>2001</td>
                    <td>Surampalem</td>
                    <td>Andhra Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Ajay Kumar Garg Engineering College</td>
                    <td>1998</td>
                    <td>Ghaziabad</td>
                    <td>Delhi</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>All India Shri Shivaji Memorial Society's College </td>
                    <td>1992</td>
                    <td>Pune</td>
                    <td>Maharashtra</td>
                    <td>?AA</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Amrita Vishwa Vidyapeetham (Amrita University)</td>
                    <td>2003</td>
                    <td>Coimbatore</td>
                    <td>Tamil Nadu</td>
                    <td>AAAA+</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Amritsar College of Engineering & Technology,(ACET</td>
                    <td>2000</td>
                    <td> Amritsar </td>
                    <td>Punjab</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Ankush Shikshan Sanstha's G.H. Raisoni College of </td>
                    <td>1996</td>
                    <td>Nagpur</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Arya College of Engineering & Information Technolo</td>
                    <td>2000</td>
                    <td>Jaipur</td>
                    <td>Rajashthan</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Asansol Engineering College</td>
                    <td>1998</td>
                    <td>Asansol</td>
                    <td>West Bengal</td>
                    <td>AA+</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>B. P. Poddar Institute of Management & Technology</td>
                    <td>1999</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Babu Banarasi Das Institute of Technology(BBDIT) </td>
                    <td>1998</td>
                    <td>Ghaziabad</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Bangalore Institute of Technology (BIT Banglore)</td>
                    <td>1979</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Bansal Institute of Science and Technology</td>
                    <td>2000</td>
                    <td>Bhopal</td>
                    <td>Madhya Pradesh</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>Beant College of Engineering & Technology</td>
                    <td>1995</td>
                    <td> Amritsar</td>
                    <td>Punjab</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Bengal College Of Engineering & Technology [BECT] </td>
                    <td>2001</td>
                    <td>Durgapur</td>
                    <td>West Bengal</td>
                    <td>AA+</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Bengal Institute of Technology [ BIT]</td>
                    <td>2000</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Bhagalpur College of Engineering, Bhagalpur</td>
                    <td>1960</td>
                    <td>Bhagalpur</td>
                    <td>Bihar</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Bharat Institite Of Technology (BIT)</td>
                    <td>2001</td>
                    <td>Meerut</td>
                    <td>Delhi</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Bharatiya Vidya Bhavan's Sardar Patel Institute of</td>
                    <td>2005</td>
                    <td>Andheri ,Mumbai</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>Bhiali Institute of Technology Bhilai House</td>
                    <td>1986</td>
                    <td> DURG</td>
                    <td>Chattishgarh</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Bhiwani DAV College of Engineering & Technology Ka</td>
                    <td>2002</td>
                    <td>Mahendragarh</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Bhusanayana Mukundadas Sreenivasaiah College of En</td>
                    <td>1946</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Birla Institute of Applied Sciences,[BIAS] , Bhimt</td>
                    <td>1989</td>
                    <td>Nainital</td>
                    <td>Uttrakhand</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Birla Institute OF Engg & Technology</td>
                    <td>2007</td>
                    <td>Pilani</td>
                    <td>Rajashthan</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Birla Institute of Technology</td>
                    <td>2006</td>
                    <td>Patna</td>
                    <td>Bihar</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Birla Institute of Technology,Mesra</td>
                    <td>1955</td>
                    <td>Ranchi</td>
                    <td>Jharkhand</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>BIT Sindri, </td>
                    <td>1949</td>
                    <td>Dhanbad</td>
                    <td>Jharkhand</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>BITS Pilani- Hyderabad Campus, Hyderabad</td>
                    <td>2008</td>
                    <td>Hyderabad</td>
                    <td>Hyderabaad</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>C.V. Raman College of Engineering, Bhubaneswar</td>
                    <td>1997</td>
                    <td>Odisha</td>
                    <td>Odisha</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>CEPT University, Ahmedabad</td>
                    <td>1962</td>
                    <td>Ahmedabad,?Gujarat</td>
                    <td>Gujarat</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>Chandigarh Engineering College (CEC),Landran</td>
                    <td>2001</td>
                    <td> Mohali</td>
                    <td>Punjab</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>Chaudhary Devi Lal Memorial Government Engineering</td>
                    <td>2003</td>
                    <td>Haryana</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>Chhatrapati Shivaji Institute of Technology [CSIT]</td>
                    <td>1999</td>
                    <td>Durg</td>
                    <td>Chattishgarh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>CIPET HAJIPUR</td>
                    <td>1968</td>
                    <td>Hajipur</td>
                    <td>Bihar</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>36</td>
                    <td>college of engineering </td>
                    <td>1999</td>
                    <td>Bhubaneswar</td>
                    <td>Odisha</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>College of Engineering and Management</td>
                    <td>1998</td>
                    <td>Kolaghat</td>
                    <td>West Bengal</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>College of Engineering,[COER]</td>
                    <td>1999</td>
                    <td> Roorkee</td>
                    <td>Uttrakhand</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>College of Technology</td>
                    <td>1966</td>
                    <td> Pantnagar</td>
                    <td>Uttrakhand</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>College of Technology & Engineering</td>
                    <td>1996</td>
                    <td>Udaipur</td>
                    <td>Rajashthan</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>CVR College of Engineering, Hyderabad</td>
                    <td>2001</td>
                    <td>Hyderabad</td>
                    <td>Hyderabaad</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>DAV University of Engineering & Technology</td>
                    <td>2001</td>
                    <td>Jalandhar</td>
                    <td>Punjab</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>43</td>
                    <td>Dayananda Sagar College of Engineering (DSCE)</td>
                    <td>1979</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>Deen bandhu Chhotu Ram University Of Science & Tec</td>
                    <td>1987</td>
                    <td>Sonipat</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>Dehradun Institute of Technology [DIT], Dehradun</td>
                    <td>1998</td>
                    <td>Dehradun</td>
                    <td>Uttrakhand</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>Dev Bhoomi Institute of Technology [DBIT] </td>
                    <td>2003</td>
                    <td>Dehradun</td>
                    <td>Uttrakhand</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>Dhirubhai Ambani Institute of Information and Comm</td>
                    <td>2001</td>
                    <td>Gandhinagar,</td>
                    <td>Gujarat</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>48</td>
                    <td>Dr D.Y.Patil Pratishthan's D. Y. Patil College of </td>
                    <td>1984</td>
                    <td> Akurdi ,Pune</td>
                    <td>Maharashtra</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>49</td>
                    <td>Dr. B.C. Roy Engineering College</td>
                    <td>2000</td>
                    <td>Durgapur</td>
                    <td>West Bengal</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>Dr.K.N.Modi Institute of Engineering & Technology,</td>
                    <td>1995</td>
                    <td>Ghaziabad</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>51</td>
                    <td>Durgapur Institute of Advanced Technology and Mana</td>
                    <td>2002</td>
                    <td>Durgapur</td>
                    <td>West Bengal</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>52</td>
                    <td>Engineering College </td>
                    <td>1997</td>
                    <td>Ajmer</td>
                    <td>Rajashthan</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>53</td>
                    <td>Engineering College [ECB]</td>
                    <td>1999</td>
                    <td>Bikaner</td>
                    <td>Rajashthan</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>54</td>
                    <td>Future Institute of Engineering and Management [FI</td>
                    <td>2001</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AA+</td>
                </tr>
                <tr>
                    <td>55</td>
                    <td>Galgotias College of Engineering & Technology </td>
                    <td>1999</td>
                    <td>Greater Noida</td>
                    <td>Delhi</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>56</td>
                    <td>Gandhi Institute for Engineering and Technology [ </td>
                    <td>2005</td>
                    <td>GUNUPUR</td>
                    <td>Odisha</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>57</td>
                    <td>Gandhi Institute of Technology and Management (GIT</td>
                    <td>1980</td>
                    <td>Visakhapatnam</td>
                    <td>Andhra Pradesh</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>58</td>
                    <td>Ganeshi Lal Bajaj Institute of Technology & Manage</td>
                    <td>2001</td>
                    <td>Greater Noida</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>59</td>
                    <td>Gayatri Vidya Parishad College of Engineering</td>
                    <td>1996</td>
                    <td>Vishakhapatnam</td>
                    <td>Andhra Pradesh</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>60</td>
                    <td>GH Patel College of Engineering and Technology, An</td>
                    <td>1996</td>
                    <td>Anand,?Gujarat</td>
                    <td>Gujarat</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>61</td>
                    <td>Giani Zail Singh Campus College of Engineering and</td>
                    <td>1989</td>
                    <td>Bathinda?</td>
                    <td>Punjab</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>62</td>
                    <td>GMR Institute of Technology</td>
                    <td>1997</td>
                    <td>Rajam</td>
                    <td>Andhra Pradesh</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>Govind Ballabh Pant Engineering College</td>
                    <td>1989</td>
                    <td>Pauri Garhwal</td>
                    <td>Uttrakhand</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>64</td>
                    <td>GOVT. Engineering College </td>
                    <td>2007</td>
                    <td>Bharatpur</td>
                    <td>Rajashthan</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>65</td>
                    <td>Graphic Era Institute of Technology,Dehradun</td>
                    <td>1993</td>
                    <td>Dehradun</td>
                    <td>Uttrakhand</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>66</td>
                    <td>Guru Jambheshwar University of Science and Technol</td>
                    <td>1995</td>
                    <td>Hisar</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>67</td>
                    <td>Guru Nanak Dev Engineering College,[GNDCE]</td>
                    <td>1956</td>
                    <td> Ludhiana</td>
                    <td>Punjab</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>68</td>
                    <td>Guru Nanak,Dev University Main Campus</td>
                    <td>1963</td>
                    <td> Amritsar </td>
                    <td>Punjab</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>69</td>
                    <td>Haldia Institute of Technology</td>
                    <td>1996</td>
                    <td>Haldia</td>
                    <td>West Bengal</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>Heritage Institute of Technology</td>
                    <td>2001</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>71</td>
                    <td>Hindu College of Engineering </td>
                    <td>1999</td>
                    <td>Sonipat</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>72</td>
                    <td>Hindustan University</td>
                    <td>1985</td>
                    <td>Chennai</td>
                    <td>Tamil Nadu</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>73</td>
                    <td>IEC College of Engineering and Technology</td>
                    <td>2002</td>
                    <td> Greater Noida</td>
                    <td>Delhi</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>74</td>
                    <td>IMS Engineering College </td>
                    <td>1990</td>
                    <td>Ghaziabad</td>
                    <td>Delhi</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>Indira Ghandhi Engg. College [ IGEC], Sagar</td>
                    <td>1981</td>
                    <td>Sagar MP</td>
                    <td>Madhya Pradesh</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>76</td>
                    <td>Indraprastha Engineering College (IEC)</td>
                    <td>2000</td>
                    <td> Ghaziabad</td>
                    <td>Delhi</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>77</td>
                    <td>Institute of Engg. Scs. IPS Academy</td>
                    <td>1999</td>
                    <td>Indore</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>78</td>
                    <td>Institute of Engineering and Management [IEM]</td>
                    <td>1989</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>79</td>
                    <td>Institute of Engineering and Technology, DAVV [IET</td>
                    <td>1996</td>
                    <td>Indore</td>
                    <td>Madhya Pradesh</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>80</td>
                    <td>Jabalpur Engineering College [JEC] </td>
                    <td>1947</td>
                    <td>Jabalpur</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>81</td>
                    <td>Jadavpur University</td>
                    <td>1955</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAAA+</td>
                </tr>
                <tr>
                    <td>82</td>
                    <td>Jaipur Engineering College & Research Centre (JECR</td>
                    <td>2000</td>
                    <td>Jaipur</td>
                    <td>Rajashthan</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>83</td>
                    <td>Jawaharlal Nehru Technological University (JNTU)</td>
                    <td>1946</td>
                    <td>Kakinada?</td>
                    <td>Andhra Pradesh</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>84</td>
                    <td>JNTUH College of Engineering, Hyderabad</td>
                    <td>1965</td>
                    <td>Hyderabad</td>
                    <td>Hyderabaad</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>85</td>
                    <td>JP Group of Institutions,(JPGI)</td>
                    <td>1996</td>
                    <td> Meerut</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>86</td>
                    <td>JSS Academy Of Technical Education</td>
                    <td>1998</td>
                    <td>Greater Noida</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>87</td>
                    <td>K. J. Somaiya College of Engineering ,Vidyavihar</td>
                    <td>1983</td>
                    <td> Mumbai</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>88</td>
                    <td>K. K. Wagh Institute of Engineering Education & Re</td>
                    <td>1984</td>
                    <td> Nashik</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>89</td>
                    <td>Kalasalingam (KLU) University</td>
                    <td>1980</td>
                    <td>Virudhunagar</td>
                    <td>Tamil Nadu</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>Kavikulguru Institute of Technology and Science [K</td>
                    <td>1985</td>
                    <td> Ramtek Nagpur</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>91</td>
                    <td>KLU Universiyu</td>
                    <td>1980</td>
                    <td>Guntur</td>
                    <td>Andhra Pradesh</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>92</td>
                    <td>Krishna Institute of Engineering and Technology (K</td>
                    <td>1998</td>
                    <td>Ghaziabad</td>
                    <td>Delhi</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>93</td>
                    <td>Krupajal Engineering College </td>
                    <td>1999</td>
                    <td>Bhubaneswar</td>
                    <td>Odisha</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>94</td>
                    <td>Lakshmi Narayan College Of Technology [ LNCT ] </td>
                    <td>1994</td>
                    <td>Bhopal</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>95</td>
                    <td>M.S.Ramaiah Institute of Technology, Banglore</td>
                    <td>1962</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>96</td>
                    <td>M.V.Jayaraman College of Engineering (MVJ)</td>
                    <td>1982</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>97</td>
                    <td>Madhav Institute of Technology and Science ,[MITS]</td>
                    <td>1981</td>
                    <td>Gwalior</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>98</td>
                    <td>Maharashtra Institute of Technology (MIT) </td>
                    <td>1983</td>
                    <td>Kothrud Pune</td>
                    <td>Maharashtra</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>99</td>
                    <td>Maharishi Markandeshwar Group of Institutions (MMU</td>
                    <td>1993</td>
                    <td>Ambala</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Mahatma Gandhi Institute of Technology, Hyderabad</td>
                    <td>1997</td>
                    <td>Hyderabad</td>
                    <td>Hyderabaad</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Mahatma Gandhi Mission's College of Engineering an</td>
                    <td>1986</td>
                    <td>Navi Mumbai</td>
                    <td>Maharashtra</td>
                    <td>AA+</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Mahendra Engineering College</td>
                    <td>1995</td>
                    <td>Salem</td>
                    <td>Tamil Nadu</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Malout Institute of Management and Information Tec</td>
                    <td>1998</td>
                    <td> Malout</td>
                    <td>Punjab</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>Mangalmay Institute of Technology </td>
                    <td>2002</td>
                    <td>Greater Noida</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>105</td>
                    <td>Manoharbhai Patel Institute of Engineering & Techn</td>
                    <td>1983</td>
                    <td>Gondia</td>
                    <td>Maharashtra</td>
                    <td>?AA</td>
                </tr>
                <tr>
                    <td>106</td>
                    <td>Maulana Azad College of Engineering and Technology</td>
                    <td>1988</td>
                    <td>Neora, Patna</td>
                    <td>Bihar</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>107</td>
                    <td>MCKV Institute of Engineering</td>
                    <td>1999</td>
                    <td> Howrah</td>
                    <td>West Bengal</td>
                    <td>AA+</td>
                </tr>
                <tr>
                    <td>108</td>
                    <td>Medi-Caps Institute of Technology & Management</td>
                    <td>2000</td>
                    <td>Indore</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>109</td>
                    <td>Meghnad Saha Institute of Technology(MSIT)</td>
                    <td>2001</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AA+</td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>Mugneeram Bangur Memorial Engineering College (MBM</td>
                    <td>1951</td>
                    <td>Jodhpur</td>
                    <td>Rajashthan</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>111</td>
                    <td>Muzaffarpur Institute of Technology</td>
                    <td>1954</td>
                    <td> Muzaffarpur</td>
                    <td>Bihar</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>112</td>
                    <td>National Institute of Foundry and Forge Technology</td>
                    <td>1966</td>
                    <td>Ranchi,?Jharkhand</td>
                    <td>Jharkhand</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>113</td>
                    <td>National Institute Of Science and Technology</td>
                    <td>1996</td>
                    <td>Berhampur</td>
                    <td>Odisha</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>114</td>
                    <td>Netaji Subhash Engineering College</td>
                    <td>1998</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>115</td>
                    <td>Nirma University, Ahmedabad</td>
                    <td>2003</td>
                    <td>Ahmedabad</td>
                    <td>Gujarat</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>116</td>
                    <td>Noida Institute of Engineering and Technology [NIE</td>
                    <td>2001</td>
                    <td> Greater Noida</td>
                    <td>Delhi</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>117</td>
                    <td>O.P. Jindal institute of Tech., Industrial Park , </td>
                    <td>2008</td>
                    <td>Raigarh</td>
                    <td>Chattishgarh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>118</td>
                    <td>Oriental Institute of Science and Technology</td>
                    <td>1995</td>
                    <td>Bhopal</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>119</td>
                    <td>Orissa Engineering College (OEC)</td>
                    <td>1986</td>
                    <td>Bhubaneswar</td>
                    <td>Odisha</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>120</td>
                    <td>PEC University of Technology</td>
                    <td>1921</td>
                    <td>Chandigarh,?India</td>
                    <td>Punjab</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>121</td>
                    <td>People's Education Society Institute of Technology</td>
                    <td>2005</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>122</td>
                    <td>Poornima College of Engineering</td>
                    <td>2000</td>
                    <td>Jaipur</td>
                    <td>Rajashthan</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>Priyadarshini College of Engineering</td>
                    <td>1990</td>
                    <td>Nagpur</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>124</td>
                    <td>Pune Institute of Computer Technology [PICT]</td>
                    <td>1983</td>
                    <td>Dhankavdi,Pune</td>
                    <td>Maharashtra</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>Punjabi University</td>
                    <td>1962</td>
                    <td>Patiala,?Punjab,?India</td>
                    <td>Punjab</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>126</td>
                    <td>Raj Kumar Goel Institute of Technology(RKGIT) </td>
                    <td>2000</td>
                    <td>Ghaziabad</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>127</td>
                    <td>Rajasthan Technical University</td>
                    <td>2006</td>
                    <td>Kota</td>
                    <td>Rajashthan</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>128</td>
                    <td>Rashtreeya Vidyalaya College of Engineering (R V)</td>
                    <td>1963</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>129</td>
                    <td>RCC Institute of Information Technology</td>
                    <td>1999</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>130</td>
                    <td>Rewa Engineering College, Rewa</td>
                    <td>1964</td>
                    <td>REWA MP</td>
                    <td>Madhya Pradesh</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>131</td>
                    <td>RNS Institute of Technology (RNSIT)</td>
                    <td>2001</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>132</td>
                    <td>Roorkee Institute of Technology [RIT],Roorkee</td>
                    <td>2005</td>
                    <td> Roorkee</td>
                    <td>Uttrakhand</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>133</td>
                    <td>Rungta College Of Engineering and Technology [RCET</td>
                    <td>1999</td>
                    <td>Bhilai</td>
                    <td>Chattishgarh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>134</td>
                    <td>Sagar Institute of Research & Technology [SIRT] </td>
                    <td>2003</td>
                    <td>Bhopal</td>
                    <td>Madhya Pradesh</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>135</td>
                    <td>Samrat Ashok Technological Institute [SATI} </td>
                    <td>1960</td>
                    <td>Vidisha</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>136</td>
                    <td>Sathyabhama University</td>
                    <td>1987</td>
                    <td>Chennai</td>
                    <td>Tamil Nadu</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>137</td>
                    <td>Seth Jai Parkash Mukand Lal Institute Of Engineeri</td>
                    <td>1995</td>
                    <td> Radaur (yamunanagar)</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>138</td>
                    <td>Shaheed Bhagat Singh State Technical Campus</td>
                    <td>1995</td>
                    <td>Ferozepur</td>
                    <td>Punjab</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>139</td>
                    <td>Shanmugha Arts, Science, Technology & Research Aca</td>
                    <td>1984</td>
                    <td>Thanjavur</td>
                    <td>Tamil Nadu</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>140</td>
                    <td>Shri Ramdeobaba College of Engineering and Managem</td>
                    <td>1984</td>
                    <td>Nagpur</td>
                    <td>Maharashtra</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>141</td>
                    <td>Shri Sant Gajanan Maharaj College of Engineering</td>
                    <td>1983</td>
                    <td> Shegaon</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>142</td>
                    <td>Shri Shankaracharya Group of Instt. [Faculty of En</td>
                    <td>1999</td>
                    <td>Junwani, Bhilai</td>
                    <td>Chattishgarh</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>143</td>
                    <td>Shri Vaishnav Institute of Technology and Science</td>
                    <td>1995</td>
                    <td>Indore</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>144</td>
                    <td>Siddaganga Institute of Technology(SIT)</td>
                    <td>1963</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>145</td>
                    <td>Silicon Institute of Technology</td>
                    <td>2001</td>
                    <td>Bhubaneswar</td>
                    <td>Odisha</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>146</td>
                    <td>Siliguri Institute of Technology</td>
                    <td>1999</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>147</td>
                    <td>Sinhgad College of Engineering Badgaon (BK) </td>
                    <td>1996</td>
                    <td>Pune</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>148</td>
                    <td>Sinhgad Institute of Technology [SIT]</td>
                    <td>2004</td>
                    <td>Lonavala</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>149</td>
                    <td>Sir Mokshagundam Visvesvaraya Institute of Technol</td>
                    <td>1986</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>Sree Vidyanikethan Engineering College</td>
                    <td>1996</td>
                    <td>Tirupati</td>
                    <td>Andhra Pradesh</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>151</td>
                    <td>Sri G.S.Inst.of Tech.&science [SGSITS] </td>
                    <td>1952</td>
                    <td>Indore</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>152</td>
                    <td>Sri Jagadguru Chandrasekaranathaswamiji Institute </td>
                    <td>1986</td>
                    <td>Chikballapur</td>
                    <td>Karnataka</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>153</td>
                    <td>Sri Ramaswami Memorial (SRM) University</td>
                    <td>1985</td>
                    <td>Chennai</td>
                    <td>Tamil Nadu</td>
                    <td>AAAA+</td>
                </tr>
                <tr>
                    <td>154</td>
                    <td>Sri Rammurti Smarak College of Engineering & Techn</td>
                    <td>1996</td>
                    <td> Bareilly</td>
                    <td>Delhi</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>155</td>
                    <td>Sri Venkateswara College of Engineering</td>
                    <td>1981</td>
                    <td>Tirupati</td>
                    <td>Andhra Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>156</td>
                    <td>Sri Venkateswara College of Engineering and Techno</td>
                    <td>1998</td>
                    <td>Chittoor</td>
                    <td>Andhra Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>157</td>
                    <td>St. Thomas' College of Engineering and Technology</td>
                    <td>2000</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>158</td>
                    <td>St. Vincent Palloti College of Engineering and Tec</td>
                    <td>2004</td>
                    <td>Nagpur</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>159</td>
                    <td>Swami Keshvanand Institute of Technology,Managemen</td>
                    <td>2000</td>
                    <td>Jaipur</td>
                    <td>Rajashthan</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>160</td>
                    <td>Techno India, Salt Lake</td>
                    <td>2001</td>
                    <td>Kolkata</td>
                    <td>West Bengal</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>161</td>
                    <td>Technocrats Institute of Technology ( TIT MAIN)</td>
                    <td>2000</td>
                    <td>Bhopal</td>
                    <td>Madhya Pradesh</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>162</td>
                    <td>Thapar University, </td>
                    <td>1956</td>
                    <td>Patiala</td>
                    <td>Punjab</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>163</td>
                    <td>The Institute of Hydropower Engineering and Techno</td>
                    <td>2011</td>
                    <td>Dehradun</td>
                    <td>Uttrakhand</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>164</td>
                    <td>Ujjain Engineering College [UEC] </td>
                    <td>1996</td>
                    <td>Ujjain</td>
                    <td>Madhya Pradesh</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>165</td>
                    <td>United Institute of Technology (UIT)Naini</td>
                    <td>1998</td>
                    <td> Allahabad</td>
                    <td>Delhi</td>
                    <td>AA</td>
                </tr>
                <tr>
                    <td>166</td>
                    <td>University College Of Engineering [UNCOE] Main Cam</td>
                    <td>2003</td>
                    <td>PATIALA</td>
                    <td>Punjab</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>167</td>
                    <td>University College of Engineering, Osmania Univers</td>
                    <td>1929</td>
                    <td>Hyderabad</td>
                    <td>Hyderabaad</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>168</td>
                    <td>University Institute of Engineering and Technology</td>
                    <td>2004</td>
                    <td>Kurukshetra</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>169</td>
                    <td>University Institute of Engineering and Technology</td>
                    <td>1976</td>
                    <td>Kurukshetra</td>
                    <td>Haryana</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>170</td>
                    <td>Vardhaman College of Engineering, Hyderabad</td>
                    <td>1999</td>
                    <td>Hyderabad</td>
                    <td>Hyderabaad</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>171</td>
                    <td>Vasavi College of Engineering, Hyderabad</td>
                    <td>1981</td>
                    <td>Hyderabad</td>
                    <td>Hyderabaad</td>
                    <td>AAA+</td>
                </tr>
                <tr>
                    <td>172</td>
                    <td>Velagapudi Ramakrishna Siddhartha Engineering Coll</td>
                    <td>1997</td>
                    <td>Vijaywada</td>
                    <td>Andhra Pradesh</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>173</td>
                    <td>Vellore Institute of Technology (VIT) University</td>
                    <td>1984</td>
                    <td>Vellore</td>
                    <td>Tamil Nadu</td>
                    <td>AAAA+</td>
                </tr>
                <tr>
                    <td>174</td>
                    <td>Vignan University</td>
                    <td>1997</td>
                    <td>Guntur</td>
                    <td>Andhra Pradesh</td>
                    <td>AAAA</td>
                </tr>
                <tr>
                    <td>175</td>
                    <td>Vishwakarma Institute Of Information Technology [V</td>
                    <td>2002</td>
                    <td>Bibwewadi Pune</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>176</td>
                    <td>Vivekananda Institute of Technology(VIT)</td>
                    <td>2008</td>
                    <td>Jaipur</td>
                    <td>Rajashthan</td>
                    <td>A+</td>
                </tr>
                <tr>
                    <td>177</td>
                    <td>Yeshwantrao Chavan College of Engineering Wanadong</td>
                    <td>1983</td>
                    <td>Nagpur</td>
                    <td>Maharashtra</td>
                    <td>AAA</td>
                </tr>
                <tr>
                    <td>178</td>
                    <td>YMCA Institute of Engineering</td>
                    <td>1969</td>
                    <td>Faridabad</td>
                    <td>Haryana</td>
                    <td>AAAA</td>
                </tr>

            </tbody>
        </table>
        <hr>
    </div>