{{!< default}}

<section id="home" class="home">
  <!-- Carousel -->
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Carousel-inner -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <img class="img-responsive" src="images/carousel/pic1_1.jpg" alt="Colls Guru">
        <div class="overlay">
          <div class="carousel-caption">
            <h3>We are here to help you grow in career</h3>
            <h1>Colls Guru</h1>
            <h1 class="second_heading">Sincere & Professional</h1>
            <p>We are the leaders in educational consultancy and represent leading colleges and universities in Uttar
              Pradesh, Maharashtra, Bengaluru, Orissa, Madhya Pradesh, Rajasthan, Tamil Nadu and many more….</p>
            <!-- <a  class="btn know_btn">know more</a> -->
            <!-- <a  class="btn know_btn">view project</a> -->
          </div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="images/carousel/pic2_1.jpg" alt="Colls Guru">
        <div class="overlay">
          <div class="carousel-caption">
            <h3>Successful career needs foundation of good education</h3>
            <h1>Colls Guru</h1>
            <h1 class="second_heading">Sincere & Professional</h1>
            <p>We are the leaders in educational consultancy and represent leading colleges and universities in Uttar
              Pradesh, Maharashtra, Bengaluru, Orissa, Madhya Pradesh, Rajasthan, Tamil Nadu and many more….</p>
            <!-- <a  class="btn know_btn">know more</a> -->
            <!-- <a  class="btn know_btn">view project</a> -->
          </div>
        </div>
      </div>
      <div class="item">
        <img class="img-responsive" src="images/carousel/pic3_1.jpg" alt="Colls Guru">
        <div class="overlay">
          <div class="carousel-caption">
            <h3>Better education for a better tomorrow</h3>
            <h1>Colls Guru</h1>
            <h1 class="second_heading">Sincere & Professional</h1>
            <p>We are the leaders in educational consultancy and represent leading colleges and universities in Uttar
              Pradesh, Maharashtra, Bengaluru, Orissa, Madhya Pradesh, Rajasthan, Tamil Nadu and many more….</p>
            <!-- <a  class="btn know_btn">know more</a> -->
            <!-- <a  class="btn know_btn">view project</a> -->
          </div>
        </div>
      </div>
    </div><!-- Carousel-inner end -->



    <!-- Controls -->
    <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
      <span class="fa fa-angle-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
      <span class="fa fa-angle-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div><!-- Carousel end-->

</section>


<!-- About -->
<section id="about" style="margin-bottom:3.5rem;">
  {{!-- <div class="container about_bg text-center"> --}}
      <div class="container about_bg text-center">
    {{!-- <div class="row"> --}}
      {{!-- <div class="col-lg-7 col-md-6"> --}}
        <div class="about_content">
          <h2>Welcome to Our Consultancy</h2>
          <h3>Best Educational Consultancy in India</h3>
          <h5>Colls Guru provides career, and education services. Combining unparalleled experience and dedication, we
            can get you admission in top colleges in India. </h5>
          <p>We strongly believe that you get only one chance to make that first impression and we work towards your applications with this thought process. We strive to deliver quality and honesty and for us, success is measured by the number of positive responses we get, and not by the bottom line. We assist the students and their parents with comprehensive information, so they can take an informed decision.</p>
          <!-- <a  class="btn know_btn">know more</a> -->
        </div>
      </div>
      {{!-- <div class="col-lg-3 col-md-6 col-lg-offset-1"> --}}
        {{!-- <div class="about_banner"> --}}
          <!-- <img src="images/courses/businessman-3105873_640.jpg" alt="" /> -->
        {{!-- </div> --}}
      {{!-- </div> --}}
    {{!-- </div> --}}
  </div>
</section><!-- About end -->

<!-- Why us -->
<section id="why_us">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="head_title">
          <h2>WHY CHOOSE US?</h2>
          <p class="h4">Colls Guru is one of the best educational and admission consultancy cum career counselor for
            Higher education based in Patna, India. Our expert advice and career guidance to get admission in top 100
            colleges of India is unmatched.</p>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa fa-leaf"></span>
          <h4>Genuine Approachs</h4>
          <p>We are genuinely interested in the success of the students as their success is equivalent to that of ours. With that in mind, we help them choose the university in accordance with their needs and expectations of a successful career.</p>        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa fa-clock-o"></span>
          <h4>Transparency</h4>
          <p>We maintain transparency throughout the admission procedure and let the students know all about how their admission will take place in the recognized universities around the globe.</p>        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa fa-group"></span>
          <h4>Clear Communication</h4>
          <p>We are well aware of the fact that we are not magicians. And, we let all our customers know that as well. We know what we can deliver and how fast we can do it. So, we make everything clear right in the beginning of our conversations with the customers.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="why_us_item">
          <span class="fa fa-line-chart"></span>
          <h4>Quality Counselling Free Of Cost</h4>
          <p>Our main objective is to provide the students as well as the parents with a free counseling based on their specific requirements, aspirations, expectations as well as budget.</p>
        </div>
      </div>
    </div>
  </div>
</section><!-- Why us end -->

<!-- Services -->
<div id="courses">
<section id="services">
  <div class="container">
    <h2 class="text-capitalize">POPULAR COURSES</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="service_item">
          <img src="images/courses/architect-3993431_640.jpg" alt="Our Services" />
          <h3>Engineering</h3>
          <h5>DIPLOMA || B.TECH || M.TECH || B.ARCH || B.SC AGRICULTURE</h5>
          <p>This is, of course, the most preferred professional course option among future Indian citizens. To get
            engineering admission, they should have taken science group with physics, chemistry and mathematics at their
            higher secondary level.</p>
          <a href="/engineering-colleges" class="btn know_btn">know more</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_item">
          <img src="images/courses/laboratory-2815641_640.jpg" alt="Our Courses" />
          <h3>Medical</h3>
          <h5>MBBS || BDS || BAMS || BUMS || BHMS || MD || MS || MDS</h5>
          <p>Medical is the science and practice of the diagnosis, treatment, and prevention of disease. Medical
            availability and clinical practice varies across the world due to regional differences in culture and
            technology. </p>
          <a href="/medical-colleges" class="btn know_btn">know more</a>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service_item">
          <img src="images/courses/hospitality.jpg" alt="Our Courses" />
          <h3>Professional Courses</h3>
          <h5>BBA || B.COM || MBA || PGDM || HOTEL MANG || FASHION TECH || NURSING || PHARMACY || RADIOLOGY</h5>
          <p>Professional courses refer to a variety of education and training which match the specific needs of an
            Industry. The focus of these courses is on skill building, career development, self-improvement etc. </p>
          <br />
          <a href="/professional-colleges" class="btn know_btn">know more</a>
        </div>
      </div>
    </div>
  </div>
</section><!-- Services end -->
</div>

{{!-- <!-- Portfolio -->
<!-- <section id="portfolio">
            <div class="container portfolio_area text-center">
                <h2>Made with love</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>

                <div id="filters">
                    <button class="button is-checked" data-filter="*">Show All</button>
                    <button class="button" data-filter=".buildings">Buildings</button>
                    <button class="button" data-filter=".interior">Interior Design</button>
                    <button class="button" data-filter=".isolation">Isolation</button>
                    <button class="button" data-filter=".plumbing">Plumbing</button>
                </div> -->
<!-- Portfolio grid -->
<!-- <div class="grid">
                    <div class="grid-sizer"></div>
                    <div class="grid-item grid-item--width2 grid-item--height2 buildings plumbing interior">
                        <img alt="" src="images/highligh_img.jpg" >
                        <div class="portfolio_hover_area">
                            <a class="fancybox" href="images/highligh_img.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                            <a href="#"><span class="fa fa-link"></span></a>
                        </div>  
                    </div>

                    <div class="grid-item buildings interior isolation">
                        <img alt="" src="images/portfolio1.jpg" >
                        <div class="portfolio_hover_area">
                            <a class="fancybox" href="images/portfolio1.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                            <a href="#"><span class="fa fa-link"></span></a>
                        </div>   
                    </div>

                    <div class="grid-item interior plumbing isolation">
                        <img alt="" src="images/portfolio2.jpg" >
                        <div class="portfolio_hover_area">
                            <a class="fancybox" href="images/portfolio2.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                            <a href="#"><span class="fa fa-link"></span></a>
                        </div>  
                    </div>

                    <div class="grid-item isolation buildings">
                        <img alt="" src="images/portfolio3.jpg" >
                        <div class="portfolio_hover_area">
                            <a class="fancybox" href="images/portfolio3.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                            <a href="#"><span class="fa fa-link"></span></a>
                        </div>  
                    </div>

                    <div class="grid-item plumbing isolation">
                        <img alt="" src="images/portfolio4.jpg" >
                        <div class="portfolio_hover_area">
                            <a class="fancybox" href="images/portfolio4.jpg" data-fancybox-group="gallery" title="Lorem ipsum dolor sit amet"><span class="fa fa-search"></span></a>
                            <a href="#"><span class="fa fa-link"></span></a>
                        </div>  
                    </div> -->
<!--           </div> Portfolio grid end -->
<!-- </div> -->
<!--    </section> Portfolio end -->

<!-- Testimonial -->
<!-- <section id="testimonial">
            <div class="container text-center testimonial_area">
                <h2>Customer Reviews</h2>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>

                <div class="row">
                    <div class="col-md-4">
                        <div class="testimonial_item">
                            <div class="testimonial_content text-left">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                            </div>
                            <img src="images/testimonial_img1.png" alt="Testimonial" />
                            <p class="worker_name">john smith</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial_item">
                            <div class="testimonial_content">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                            </div>
                            <img src="images/testimonial_img2.png" alt="Testimonial" />
                            <p class="worker_name">john smith</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="testimonial_item">
                            <div class="testimonial_content">
                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit,</p>
                            </div>
                            <img src="images/testimonial_img1.png" alt="Testimonial" />
                            <p class="worker_name">john smith</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
<!-- Testimonial end --> --}}

<!-- Contact form -->
<section id="contact_form">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Do you have any questions?</h2>
        <h2 class="second_heading">Feel free to contact us!</h2>
      </div>
      {{!-- <form action="/contact" method="post" role="form" class="form-inline text-right col-md-6"> --}}
        {{!-- <div class="form-group">
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <textarea class="form-control" rows="5" id="msg" placeholder="Message"></textarea>
        </div> --}}
        <div class="col-md-6">
          <a  href="/contact"><button style="width:100%;margin-top:3.5em;" type="button" class="btn submit_btn">Contact Us</button></a>
        </div>
      {{!-- </form> --}}
    </div>
  </div>
</section><!-- Contact form end -->
