<div class="container " style="padding:5px; margin-top:5px;">
    <div class="col-md-9">
        <h3>List of Medical Colleges in India.</h3>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th></th>
                    <th>College Name</th>
                    <th>Estd.</th>
                    <th>Location</th>
                    <th>State</th>
                    <th>College Type</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>A J Institute of Medical Sciences</td>
                    <td>2002</td>
                    <td>Mangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>A N Magadh Medical College</td>
                    <td>1970</td>
                    <td>Gaya</td>
                    <td>Bihar</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Academy of Medical Sceiences</td>
                    <td>1995</td>
                    <td>Kannur</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Adichunchanagiri Institute of Medical Sciences</td>
                    <td>1986</td>
                    <td>Bellur</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Ahmedabad Municipal Coporation Medical Education T</td>
                    <td>2009</td>
                    <td>Ahmedabad</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Al-Ameen Medical College</td>
                    <td>1984</td>
                    <td>Bijapur</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>All India Institute of Medical Sciences</td>
                    <td>1956</td>
                    <td>New Delhi?</td>
                    <td>Delhi</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Alluri Sitaram Raju Academy of Medical Sciences (A</td>
                    <td>2000</td>
                    <td>Malkapuram</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Amala Institute of Medical Sciences</td>
                    <td>2002</td>
                    <td>Thrissur</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Amrita Institute of Medical Science & Research Cen</td>
                    <td>2000</td>
                    <td>Cochin</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>Andhra Medical College</td>
                    <td>1923</td>
                    <td>Visakhapatnam</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>Army College of Medical Sciences</td>
                    <td>2008</td>
                    <td>New Delhi?</td>
                    <td>Delhi</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>Assam Medial College</td>
                    <td>1947</td>
                    <td>Dibrugarh</td>
                    <td>Assam</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>Azeezia Institute of Medical Sciences</td>
                    <td>2008</td>
                    <td>Kollam</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>B J Medical College</td>
                    <td>1946</td>
                    <td>Ahmedabad</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>Bangalore Medical College and research Institute</td>
                    <td>1955</td>
                    <td></td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>17</td>
                    <td>Basaveshwara Medical College & Hospital</td>
                    <td>2000</td>
                    <td>Chitradurga</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>Belgaum Institute of Medical Sciences</td>
                    <td>2006</td>
                    <td>Belgaum</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>19</td>
                    <td>Bhaskar Medical College</td>
                    <td>2005</td>
                    <td>Hyderabad</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>20</td>
                    <td>Bidar Institute of Medical Sciences</td>
                    <td>2007</td>
                    <td>Bidar</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>21</td>
                    <td>C U Shah Medical College</td>
                    <td>2000</td>
                    <td>Surendra Nagar?</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>22</td>
                    <td>Chhattisgarh Institute of Medical Sciences</td>
                    <td>2001</td>
                    <td>Bilaspur</td>
                    <td>Chattisgarh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>23</td>
                    <td>Co-operative Medical College</td>
                    <td>2000</td>
                    <td>Kochi</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>24</td>
                    <td>Darbanga Medical College</td>
                    <td>1946</td>
                    <td>Dharbanga</td>
                    <td>Bihar</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>25</td>
                    <td>Deccan College of Medical Sciences</td>
                    <td>1985</td>
                    <td>Hyderabad</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>26</td>
                    <td>Dr. B R Ambedkar Medical College</td>
                    <td>1981</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>27</td>
                    <td>Dr. Rajendar Prasad Government Medical College</td>
                    <td>1996</td>
                    <td>Tanda</td>
                    <td>Himachal Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>28</td>
                    <td>Dr. Somervel Memorial CSI Hospital & Medical Colle</td>
                    <td>2001</td>
                    <td>Thiruvananthapuram</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>29</td>
                    <td>Dr. VRK Womens Medical College</td>
                    <td>2010</td>
                    <td>Aziznagar</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>30</td>
                    <td>Father Muller Medical College</td>
                    <td>1994</td>
                    <td>Mangalore</td>
                    <td>Karnataka</td>
                    <td>Minority-Religious</td>
                </tr>
                <tr>
                    <td>31</td>
                    <td>Fathima Instt. of Medical Sciences</td>
                    <td>2010</td>
                    <td>Kadapa</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>32</td>
                    <td>G S L Medical College</td>
                    <td>2002</td>
                    <td>Rajahmundry</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>33</td>
                    <td>Gandhi Medical College</td>
                    <td>1954</td>
                    <td>Hyderabad</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>34</td>
                    <td>GCS Medical College</td>
                    <td>2011</td>
                    <td>Ahmedabad</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>35</td>
                    <td>GMERS Medical College</td>
                    <td>2011</td>
                    <td>Vadodara</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>36</td>
                    <td>GMERS Medical College</td>
                    <td></td>
                    <td>Ahmedabad</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>37</td>
                    <td>Goa Medical College</td>
                    <td>1963</td>
                    <td>Panaji?</td>
                    <td>Goa</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>38</td>
                    <td>Gold Field Institute of Medical Sciences & Researc</td>
                    <td>2011</td>
                    <td>Faridabad</td>
                    <td>Harayana</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>39</td>
                    <td>Government Medical College</td>
                    <td>1924</td>
                    <td>Mysore</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>40</td>
                    <td>Government Medical College</td>
                    <td>1957</td>
                    <td>Calicut</td>
                    <td>Kerala</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>41</td>
                    <td>Government Medical College</td>
                    <td>1960</td>
                    <td>Gandhinagar Kottayam</td>
                    <td>Kerala</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>42</td>
                    <td>Government Medical College</td>
                    <td>1981</td>
                    <td>Thrissur</td>
                    <td>Kerala</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>43</td>
                    <td>Government Medical College</td>
                    <td>2000</td>
                    <td>Anantapur</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>44</td>
                    <td>Government Medical College</td>
                    <td>1991</td>
                    <td>Chandigarh</td>
                    <td>Chandigarh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>45</td>
                    <td>Government Medical College</td>
                    <td>2006</td>
                    <td>NMDC</td>
                    <td>Chattisgarh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>46</td>
                    <td>Government Medical College</td>
                    <td>1995</td>
                    <td>Bhavnagar</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>47</td>
                    <td>Government Medical College</td>
                    <td>1964</td>
                    <td>Surat</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>48</td>
                    <td>Great Eastern Medical School and Hospital</td>
                    <td>2010</td>
                    <td>Srikakulam</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>49</td>
                    <td>Gujarat Adani Institute of Medical Sciences</td>
                    <td>2009</td>
                    <td>Bhuj</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>50</td>
                    <td>Guntur Medical College</td>
                    <td>1946</td>
                    <td>Guntur</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>51</td>
                    <td>Guwahati Medical College</td>
                    <td>1960</td>
                    <td>Guwahati </td>
                    <td>Assam</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>52</td>
                    <td>Hassan Institute of Medical Sciences</td>
                    <td>2006</td>
                    <td>Hassan</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>53</td>
                    <td>Indira Gandhi Institute of Medical Sciences</td>
                    <td>1983</td>
                    <td>Patna</td>
                    <td>Bihar</td>
                    <td>Autonimous</td>
                </tr>
                <tr>
                    <td>54</td>
                    <td>Indira Gandhi Medical College</td>
                    <td>1966</td>
                    <td>Shimla</td>
                    <td>Himachal Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>55</td>
                    <td>Jagadguru Sri Shivarathreeshwara Medical College</td>
                    <td>1984</td>
                    <td>Mysore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>56</td>
                    <td>Jawaharlal Nehru Medical College</td>
                    <td>1963</td>
                    <td>Belgaum</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>57</td>
                    <td>Jawaharlal Nehru Medical College</td>
                    <td>1971</td>
                    <td>Bhagalpur </td>
                    <td>Bihar </td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>58</td>
                    <td>Jaya Jagadguru Murugharajendra Medical College</td>
                    <td>1965</td>
                    <td>Davangere</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>59</td>
                    <td>Jorhat Medical College & Hospital</td>
                    <td>2009</td>
                    <td>Jorhat</td>
                    <td>Assam</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>60</td>
                    <td>Jubilee Mission Medical College & Research Institu</td>
                    <td>2002</td>
                    <td>Thrissur</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>61</td>
                    <td>K S Hegde Medical Academy</td>
                    <td>1999</td>
                    <td>Mangalore</td>
                    <td>Karnataka</td>
                    <td>Minority-Linguistic</td>
                </tr>
                <tr>
                    <td>62</td>
                    <td>K V G Medical College</td>
                    <td>1999</td>
                    <td>Sullia</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>63</td>
                    <td>K.J. Mehta General Hospital & College of Medical S</td>
                    <td>2009</td>
                    <td>Amargadh</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>64</td>
                    <td>Kakatiya Medical College</td>
                    <td>1959</td>
                    <td>Warangal</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>65</td>
                    <td>Kamineni Institute of Medical Sciences</td>
                    <td>1999</td>
                    <td>Nalgonda</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>66</td>
                    <td>Kannur Medical College</td>
                    <td>2006</td>
                    <td>Kannur</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>67</td>
                    <td>Karnataka Institute of Medical Sciences</td>
                    <td>1957</td>
                    <td>Hubli</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>68</td>
                    <td>Karuna Medical College</td>
                    <td>2006</td>
                    <td>Palakkad</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>69</td>
                    <td>Kasturba Medical College</td>
                    <td>1955</td>
                    <td>Mangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>70</td>
                    <td>Kasturba Medical College</td>
                    <td>1953</td>
                    <td>Manipal</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>71</td>
                    <td>Katihar Medical College</td>
                    <td>1987</td>
                    <td>Katihar</td>
                    <td>Bihar</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>72</td>
                    <td>Katuri Medical College</td>
                    <td>2002</td>
                    <td>Guntur</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>73</td>
                    <td>Kempegowda Institute of Medical Sciences</td>
                    <td>1960</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>74</td>
                    <td>Kesarsal Medical College & Research Institute</td>
                    <td>2003</td>
                    <td>Ahmedabad</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>75</td>
                    <td>Khaja Banda Nawaz Institute of Medical Sciences</td>
                    <td>2000</td>
                    <td>Gulbarga</td>
                    <td>Karnataka</td>
                    <td>Minority-Religious</td>
                </tr>
                <tr>
                    <td>76</td>
                    <td>KMCT Medical College</td>
                    <td>2007</td>
                    <td>Calicut</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>77</td>
                    <td>Konaseema Institute of Medical Sciences & Research</td>
                    <td>2005</td>
                    <td>Amalapuram</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>78</td>
                    <td>Kurnool Medical College</td>
                    <td>1957</td>
                    <td>Kurnool</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>79</td>
                    <td>Lady Hardinge Medical College</td>
                    <td>1916</td>
                    <td>New Delhi?</td>
                    <td>Delhi</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>80</td>
                    <td>M E S Medical College</td>
                    <td>2002</td>
                    <td>Perintalmanna</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>81</td>
                    <td>M G M Medical College</td>
                    <td>1961</td>
                    <td>Jamshedpur</td>
                    <td>Jharkhand</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>82</td>
                    <td>M N R Medical College</td>
                    <td>2002</td>
                    <td>Fasalwadi</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>83</td>
                    <td>M S Ramaiah Medical College</td>
                    <td>1979</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>84</td>
                    <td>M V J Medical College & Research Hospital</td>
                    <td>1963</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>85</td>
                    <td>Mahadevappa Rampure Medical College</td>
                    <td>1963</td>
                    <td>Gulbarga</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>86</td>
                    <td>Maharaja Agrasen Medical College</td>
                    <td>2002</td>
                    <td>Ambala</td>
                    <td>Harayana</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>87</td>
                    <td>Maharajahs Institute of Medical Sciences</td>
                    <td>2002</td>
                    <td>Vizianagaram</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>88</td>
                    <td>Maharishi Markandeshwar Institute of Medical Scien</td>
                    <td>2003</td>
                    <td>Ambala</td>
                    <td>Harayana</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>89</td>
                    <td>Malabar Medical College</td>
                    <td></td>
                    <td>Kozhikode</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>90</td>
                    <td>Malankara Orthodox & Syrian Church Medical College</td>
                    <td>2001</td>
                    <td></td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>91</td>
                    <td>Mamata Medical College</td>
                    <td>1998</td>
                    <td>Khammam</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>92</td>
                    <td>Mandya Institute of Medical Sciences</td>
                    <td>2001</td>
                    <td>Mandya</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>93</td>
                    <td>Mata Gujri Memorial Medical College</td>
                    <td>1990</td>
                    <td>Kishanganj</td>
                    <td>Bihar</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>94</td>
                    <td>Medical College</td>
                    <td>1951</td>
                    <td>Thiruvananthapuram</td>
                    <td>Kerala</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>95</td>
                    <td>Medical College</td>
                    <td>1949</td>
                    <td>Baroda</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>96</td>
                    <td>Medicity Institute of Medical Sciences</td>
                    <td>2001</td>
                    <td>Hyderabad</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>97</td>
                    <td>MP Shah Medical College</td>
                    <td>1955</td>
                    <td>Jamnagar</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>98</td>
                    <td>N R I Medical College</td>
                    <td>2003</td>
                    <td>Guntur</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>99</td>
                    <td>Nalanda Medical College</td>
                    <td>1970</td>
                    <td>Patna</td>
                    <td>Bihar</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>100</td>
                    <td>Narayan Medical College and Hospital</td>
                    <td>2008</td>
                    <td>Sasaram</td>
                    <td>Bihar</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>101</td>
                    <td>Narayana Medical College</td>
                    <td>2000</td>
                    <td>Nellore</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>102</td>
                    <td>Navodaya Medical College</td>
                    <td>2001</td>
                    <td>Raichur</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>103</td>
                    <td>Osmania Medical College</td>
                    <td>1946</td>
                    <td>Hyderabad</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>104</td>
                    <td>P E S Institute of Medical Sciences and Research</td>
                    <td>2001</td>
                    <td>Kuppam</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>105</td>
                    <td>P S I Medical College</td>
                    <td>2002</td>
                    <td>Chinoutpalli</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>106</td>
                    <td>Pandit Deendayal Upadhyay Medical College</td>
                    <td>1995</td>
                    <td>Rajkot</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>107</td>
                    <td>Patliputra Medical College, Dhanbad</td>
                    <td>1971</td>
                    <td>Dhanbad</td>
                    <td>Jharkhand</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>108</td>
                    <td>Patna Medical College</td>
                    <td>1925</td>
                    <td>Patna</td>
                    <td>Bihar</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>109</td>
                    <td>Pramukhswami Medical College</td>
                    <td>1987</td>
                    <td>Karmsad</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>110</td>
                    <td>Prathima Institute of Medical Sciences</td>
                    <td>2001</td>
                    <td>Karimnagar</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>111</td>
                    <td>Pt. B D Sharma Postgraduate Institute of Medical S</td>
                    <td>1960</td>
                    <td>Rohtak</td>
                    <td>Harayana</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>112</td>
                    <td>Pt. J N M Medical College</td>
                    <td>1963</td>
                    <td>Raipur</td>
                    <td>Chattisgarh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>113</td>
                    <td>Pushpagiri Institute of Medical Sciences and Resea</td>
                    <td>2002</td>
                    <td></td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>114</td>
                    <td>Raichur Institute of Medical Sciences</td>
                    <td>2007</td>
                    <td>Raichur</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>115</td>
                    <td>Rajarajeswari Medical College & Hospital</td>
                    <td>2005</td>
                    <td></td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>116</td>
                    <td>Rajendra Institute of Medical Sciences</td>
                    <td>1960</td>
                    <td>Ranchi</td>
                    <td>Jharkhand</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>117</td>
                    <td>Rajiv Gandhi Institute of Medical Sciences</td>
                    <td>2008</td>
                    <td>Adilabad</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>118</td>
                    <td>Rajiv Gandhi Institute of Medical Sciences</td>
                    <td>2006</td>
                    <td>Kadapa</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>119</td>
                    <td>Rajiv Gandhi Institute of Medical Sciences</td>
                    <td>2011</td>
                    <td>Ongole</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>120</td>
                    <td>Rajiv Gandhi Institute of Medical Sciences</td>
                    <td>2008</td>
                    <td>Srikakulam</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>121</td>
                    <td>Rangaraya Medical College</td>
                    <td>1958</td>
                    <td>Kakinada</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>122</td>
                    <td>S B K S Medical Institute & Research Centre</td>
                    <td>2002</td>
                    <td>Vadodra</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>123</td>
                    <td>S D M Medical College</td>
                    <td>2003</td>
                    <td>Dharwad</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>124</td>
                    <td>S Nijalingappa Medical College</td>
                    <td>2002</td>
                    <td>Bagalkot</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>125</td>
                    <td>S S Institute of Medical Sciences & Research Centr</td>
                    <td></td>
                    <td>Davangere</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>126</td>
                    <td>S V Medical College</td>
                    <td>1960</td>
                    <td>Tirupati</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>127</td>
                    <td>S V S Medical College</td>
                    <td>1999</td>
                    <td>Mahboobnagar</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>128</td>
                    <td>Sadan Institute of Medical Sciences, Research Cent</td>
                    <td>2005</td>
                    <td>Hyderabad</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>129</td>
                    <td>Santhiram Medical College</td>
                    <td>2005</td>
                    <td>Nandyal</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>130</td>
                    <td>Sapthagiri Institute of Medical Sciences & Researc</td>
                    <td></td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>Minority-Religious</td>
                </tr>
                <tr>
                    <td>131</td>
                    <td>Shimoga Institute of Medical Sciences</td>
                    <td>2007</td>
                    <td>Shimoga</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>132</td>
                    <td>Shree Guru Gobind Singh Tricentenary Medical Colle</td>
                    <td>2010</td>
                    <td>Gurgaon</td>
                    <td>Harayana</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>133</td>
                    <td>Shri Krishna Medical College</td>
                    <td>1970</td>
                    <td>Muzaffarpur</td>
                    <td>Bihar</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>134</td>
                    <td>Siddhartha Medical College</td>
                    <td>1980</td>
                    <td>Vijayawada</td>
                    <td>Andhra Pradesh</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>135</td>
                    <td>Silchar Medical College</td>
                    <td>1968</td>
                    <td>Silchar</td>
                    <td>Assam</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>136</td>
                    <td>Smt. N.H.L.Municipal Medical College</td>
                    <td>1963</td>
                    <td>Ahmedabad</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>137</td>
                    <td>Sree Gokulam Medical College & Research Foundation</td>
                    <td>2005</td>
                    <td>Trivandrum</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>138</td>
                    <td>Sree Narayana Instt. of Medical Sciences</td>
                    <td></td>
                    <td>Ernakulam</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>139</td>
                    <td>Sree Uthradom Thiurnal Academy of Medical Sciences</td>
                    <td>2005</td>
                    <td>Trivandrum</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>140</td>
                    <td>Sri B M Patil Medical College</td>
                    <td>1986</td>
                    <td>Bijapur</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>141</td>
                    <td>Sri Devaraj Urs Medical College</td>
                    <td>1986</td>
                    <td>Kolar</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>142</td>
                    <td>Sri Siddhartha Medical College</td>
                    <td>1988</td>
                    <td>Tumkur</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>143</td>
                    <td>Srinivas Institute of Medical Research Centre</td>
                    <td></td>
                    <td>Srinivasnagar</td>
                    <td>Karnataka</td>
                    <td>Minority-Religious</td>
                </tr>
                <tr>
                    <td>144</td>
                    <td>St. Johns Medical College</td>
                    <td>1963</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>Minority-Religious</td>
                </tr>
                <tr>
                    <td>145</td>
                    <td>Surat Municipal Institute of Medical Education & R</td>
                    <td>1999</td>
                    <td>Surat</td>
                    <td>Gujarat</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>146</td>
                    <td>T D Medical College</td>
                    <td>1963</td>
                    <td>Alappuzha (Alleppy)</td>
                    <td>Kerala</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>147</td>
                    <td>Travancore Medical College</td>
                    <td></td>
                    <td>Kollam</td>
                    <td>Kerala</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>148</td>
                    <td>Vardhman Medical College & Chalmeda Anand Rao Inst</td>
                    <td>2003</td>
                    <td>Karimnagar</td>
                    <td>Andhra Pradesh</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>149</td>
                    <td>Vijayanagar Institute of Medical Sciences</td>
                    <td>1961</td>
                    <td>Bellary</td>
                    <td>Karnataka</td>
                    <td>Government</td>
                </tr>
                <tr>
                    <td>150</td>
                    <td>Vivekanand Institute of Medical Sciences & Researc</td>
                    <td>2001</td>
                    <td>Valia</td>
                    <td>Gujarat</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>151</td>
                    <td>Vydehi Institute of Medical Sciences & Research Ce</td>
                    <td>2002</td>
                    <td>Bangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>
                <tr>
                    <td>152</td>
                    <td>Yenepoya Medical College</td>
                    <td>1999</td>
                    <td>Mangalore</td>
                    <td>Karnataka</td>
                    <td>Private</td>
                </tr>

            </tbody>
        </table>
        <hr>
    </div>