<div class="container" style="padding:5px; margin-top:5px;">
    <div class="col-md-9">
        <h3>List of Professional Colleges in India.</h3>
        <table border="0" cellspacing="0" cellpadding="0" class="ta1 table table-striped table-hover table-bordered">
        <thead>
                <tr>
                    <th>College Name</th>
                    <th>Location</th>
                </tr>
            </thead>
		<colgroup>
            <col width="330" />
            <col width="149" />
            <col width="135" />
            <col width="76" />
        </colgroup>
		
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Amity School of Architecture &amp; Planning </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Noida</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>IPS Academy </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Indore</p>
            </td>

            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Dr MGR Educational and Research Institute University (MGRDU) </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Chennai</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Rajalakshmi Engineering College (REC) </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Chennai</p>
            </td>

            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Sri Venkateswara College of Architecture </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Hyderabad</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Giani Zail Singh College of Engineering &amp; Technology </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Bhatinda</p>
            </td>

            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Chhotu Ram State College of Engineering </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Sonepat</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>MES College of Engineering </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Malappuram</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Karpagam University </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Coimbatore</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Faculty of Technology and Engineering The Maharaja Sayajirao University of </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Baroda</p>
            </td>

            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Institute of Design Environment &amp; Architecture -Indus University </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Ahmedabad</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Rajiv Gandhi Institute of Technology </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Kottayam</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Meenakshi College of Engineering </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Chennai</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Bharati Vidyapeeth University’s College of Architecture </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Pune</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>RPIIT Technical Campus </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Karnal</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>School of Architecture and Planning-Anna University </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p> Chennai</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>MEASI Academy of Architecture </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Chennai</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Babu Banarasi Das University </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Lucknow</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Maharishi Markandeshwar University </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Ambala</p>
            </td>

            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>KR Mangalam Institutions of Higher Education </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Delhi</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p> National Institute Of Agricultural Extension Management, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Hyderabad</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p> Institute For Financial Management And Research, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Sri City</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Goa Institute Of Management, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Goa</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Apeejay School Of Management, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Delhi</p>
            </td>

            
        </tr>
        <tr class="ro3">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Sydenham Institute Of Management Studies And Research And Entrepreneurship Education, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Mumbai</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Jagan Institute Of Management Studies, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Rohini</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Sies College Of Management Studies, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Navi Mumbai</p>
            </td>
            
            
        </tr>
        <tr class="ro3">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Prin. Ln Welingkar Institute Of Management Development And Research, </p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Mumbai</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Delhi College of Arts &amp; Commerce</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p> Delhi</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Manipal Institute of Communications</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p> Manipal, Karnataka, </p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Amity School Of Communication</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Noida</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Department of Media Studies, Christ University</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p> Bangalore</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>National Institute of Design (NID)</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Ahmadabad</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Journalism and Mass Communication</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Mysore</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Film and Television Institute of India</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Pune</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Mudra Institute of Communications</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Ahmadabad</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Lady Shri Ram College for Women</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Delhi</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Indian Institute of Mass Communication</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>New Delhi</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Symbiosis Institute of Mass Communication</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Pune</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Xavier Institute of Communications</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Mumbai</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce1">
                <p>Indian Institute of Journalism and New Media</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce1">
                <p>Bangalore</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce2">
                <p>Asian College of Journalism</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce2">
                <p>Chennai</p>
            </td>

            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>K C College of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Punjab</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Munnar Catering College</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Ernakulam</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>IHM, Meerut</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Meerut</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>SRM Institute of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Chennai</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>CCHM, Landran, Mohali</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Mohali</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Shri Shakti College of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Hyderabad</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Oriental School of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Wayanad</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Gurunanak Institute of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Kolkata</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Chitkara School of Hospitality</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Chandigarh</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>VELS College of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Chennai</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Desh Bhagat IHMCT</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Punjab</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Rayat &amp; Bahra Institute of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Punjab</p>
            </td>
            
            
        </tr>
        <tr class="ro2">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>C T Institute of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Punjab</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>Ranjita Institute of Hotel Management &amp; Catering</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Odisha</p>
            </td>
            
            
        </tr>
        <tr class="ro1">
            <td style="text-align:left;width:75.57mm; " class="ce3">
                <p>St. Soldier Institute of Hotel Management</p>
            </td>
            <td style="text-align:left;width:34.18mm; " class="ce5">
                <p>Punjab</p>
            </td>
            
            
        </tr>
        
    </table>
        <hr>
    </div>
</div>



